@import url(/reset.css);
body {
  background-image: url("/1117/images/texture-new.png");
  margin: auto;
  height: 1000px;
  max-width: 1200px;
}

header {
  display: flex;
  height: 100px;
  justify-content: space-around;
  transform: translateY(30px);
  align-items: center;
  line-height: 30px;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
}
header nav ul a {
  color: brown;
  font-weight: bold;
  margin: 30px;
  font-size: 20px;
}
header nav ul li:hover a {
  color: brown;
  opacity: 0.8;
}

main {
  height: 620px;
  margin: 50px;
  position: relative;
}
main .bread {
  width: 750px;
  height: 470px;
  margin: 10px;
}
main .bread img {
  width: 100%;
}
main .offer {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 330px;
  height: 350px;
  background-color: #ffb;
}
main .offer h2 {
  margin: 20px;
  color: #D49637;
  font-weight: 500;
}
main .offer b {
  line-height: 30px;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
}
main .offer b:hover {
  color: #D49637;
}
main .offer p {
  margin: 20px;
  line-height: 3px;
}
main .offer .Menu {
  margin: 13px;
  background-color: #D49637;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border: none;
  color: #fff;
  position: absolute;
  right: 43%;
  bottom: 3%;
  font-weight: bold;
}
main .offer .Menu:hover {
  opacity: 0.8;
}
main .offer .coffe {
  position: absolute;
  right: 30%;
  bottom: 10%;
}
main .line {
  width: 750px;
  margin: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EFEBE0;
  cursor: pointer;
}
main .line p {
  margin: 10px;
  font-weight: bold;
  color: burlywood;
  font-size: 20px;
}
main .line img {
  width: 7%;
  margin: 10px;
}
main .Latest {
  border: 1px solid #000;
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 330px;
  height: 270px;
  border-color: lightcoral;
}
main p.p1 {
  color: #D49637;
  font-weight: 500;
  margin: 25px;
  font-size: 20px;
}
main b {
  margin: 20px;
}

footer {
  position: relative;
  position: relative;
  margin: auto;
  height: 300px;
  background-color: #ffb;
  opacity: 0.65;
  position: relative;
}
footer h3 {
  font-weight: 600;
  font-size: 15px;
}
footer b {
  position: absolute;
  bottom: 10%;
  left: 30%;
}
footer span {
  position: absolute;
  bottom: 20%;
  left: 0%;
  border-top: 3px solid gray;
  width: 100%;
}
footer p:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer p.p1 {
  pointer-events: none;
}
footer ul {
  position: absolute;
  right: 13%;
  display: flex;
  gap: 5rem;
  margin: 30px;
}
footer ul li {
  margin: 1px;
}
footer ul li address {
  line-height: 25px;
  font-size: 15px;
}
footer ul li p {
  margin: 5px;
  font-size: 12px;
  font-style: italic;
}
footer img {
  width: 10%;
  position: absolute;
  top: -10%;
  left: 10%;
}

@media screen and (max-width: 601px) {
  body {
    margin: auto;
    max-width: 600px;
    overflow-x: hidden;
  }
  header {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: wrap;
  }
  header nav {
    left: 20%;
    position: relative;
  }
  header nav ul.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 60px;
  }
  header nav ul.wrap li {
    display: inline-block;
    margin: auto;
  }
  header nav ul.wrap li a {
    margin: auto;
    font-size: 15px;
  }
  header nav ul.wrap li:hover a {
    color: brown;
    opacity: 0.8;
  }
  main {
    max-width: 1200px;
    left: 0%;
    height: 700px;
    position: relative;
  }
  main .bread {
    position: absolute;
    overflow-x: hidden;
  }
  main .bread img {
    overflow-x: hidden;
    width: 40%;
  }
  main .offer {
    overflow-y: hidden;
    overflow-x: hidden;
    display: none;
    position: absolute;
    left: 1%;
    top: 35%;
    width: 330px;
    height: 350px;
    background-color: #ffb;
  }
  main .offer h2 {
    font-size: 15px;
  }
  main .offer b {
    cursor: pointer;
  }
  main .offer b:hover {
    color: #D49637;
  }
  main .offer p {
    margin: 20px;
    line-height: 3px;
  }
  main .offer .Menu {
    margin: 13px;
    background-color: #D49637;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: none;
    color: #fff;
    position: absolute;
    right: 43%;
    bottom: 3%;
    font-weight: bold;
  }
  main .offer .Menu:hover {
    opacity: 0.8;
  }
  main .offer .coffe {
    position: absolute;
    right: 30%;
    bottom: 10%;
  }
  main .line {
    display: none;
    width: 300px;
    transform: translate(0px, 190px);
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEBE0;
    cursor: pointer;
  }
  main .line p {
    font-weight: bold;
    color: burlywood;
    font-size: 15px;
  }
  main .line img {
    width: 7%;
  }
  main .Latest {
    overflow-y: hidden;
    display: none;
    position: absolute;
    left: 1%;
    bottom: -2%;
    width: 300px;
    height: 100px;
  }
  main p.p1 {
    color: #D49637;
    font-weight: 500;
    font-size: 15px;
  }
  footer {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 400px;
    right: 1%;
    position: relative;
    position: relative;
  }
  footer img.stamp {
    width: 13%;
    top: 60%;
    left: 80%;
  }
  footer li.touch {
    padding: 10px;
    position: absolute;
    transform: translate(-300px, 230px);
    font-size: 10px;
  }
  footer li.touch h4 {
    color: blueviolet;
    font-size: 15px;
  }
  footer li.touch p {
    font-size: 15px;
    font-weight: bold;
  }
  footer li.insta {
    padding: 35px;
    position: absolute;
    transform: translate(-330px, 115px);
    font-weight: bold;
  }
  footer li.insta h3 {
    font-weight: bold;
    color: blue;
    font-size: 11px;
  }
  footer li.insta p {
    font-size: 15px;
    font-weight: bold;
  }
  footer li.insta h4 {
    font-size: 11px;
  }
  footer li.loca {
    font-size: 13px;
    font-weight: bold;
    padding: 35px;
    position: absolute;
    display: inline-block;
    transform: translateY(-30px);
    width: 500px;
    font-style: bold;
    right: -170px;
    font-size: 12px;
  }
  footer li.loca h4 {
    color: red;
    font-size: 15px;
  }
  footer li.loca address {
    font-size: 15px;
    display: inline-block;
    width: 500px;
  }
  footer b {
    position: absolute;
    bottom: 5%;
    left: 10%;
    font-size: 11px;
  }
  footer span {
    position: absolute;
    bottom: 10%;
    border-top: 2px solid gray;
    width: 100%;
  }
  footer p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  footer p.p1 {
    pointer-events: none;
  }
  footer ul {
    position: absolute;
    right: 13%;
    display: flex;
    gap: 5rem;
    margin: 30px;
  }
  footer ul li {
    margin: 1px;
  }
  footer ul li address {
    font-size: 10px;
  }
}