.topgnb {
  border: 1px solid #000;
  height: 50px;
  background-color: #323131;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: right;
}
.topgnb span {
  color: beige;
}
.topgnb img {
  margin-right: 10px;
  cursor: pointer;
}
.topgnb h3 {
  color: white;
}
.topgnb p {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.topgnb span {
  color: beige;
}

.menu {
  display: none;
}

.bottomgnb {
  border: 1px solid #000;
  height: 120px;
  background-color: rgb(17, 17, 184);
}
.bottomgnb ul.btn {
  transform: translateY(10px);
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  position: relative;
  cursor: pointer;
}
.bottomgnb ul.btn img {
  width: 60%;
}
.bottomgnb ul.btn li.btn1:hover::after {
  position: absolute;
  content: "";
  background: white;
  border: 1px solid #000;
  width: 100px;
  height: 5px;
  bottom: 0%;
  display: inline-block;
  transform: translateX(-103px);
  transition: all 0.5s ease;
}
.bottomgnb ul.btn li.btn2:hover::after {
  position: absolute;
  content: "";
  background: white;
  border: 1px solid #000;
  width: 50px;
  height: 5px;
  bottom: 0%;
  display: inline-block;
  transform: translateX(-45px);
  transition: all 0.5s ease;
}
.bottomgnb ul.btn li.btn3:hover::after {
  position: absolute;
  content: "";
  background: white;
  border: 1px solid #000;
  width: 50px;
  height: 5px;
  bottom: 0%;
  display: inline-block;
  transform: translateX(-45px);
  transition: all 0.5s ease;
}

p {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: inline;
  position: relative;
}

.img2 img {
  width: 100%;
}

.aside {
  overflow-x: none;
  height: 760px;
  background-color: whitesmoke;
  opacity: 0.8;
}
.aside h3 {
  text-align: center;
  font-size: 30px;
  color: blue;
}
.aside .asideimg {
  overflow-x: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 2rem;
}
.aside .asideimg li {
  list-style: none;
}
.aside .asideimg li img {
  width: 100%;
  height: 230px;
}
.aside .asideimg li .desc1 {
  overflow-x: none;
  position: absolute;
  color: blue;
  font-size: 25px;
  background-color: white;
  width: 230px;
  top: 60%;
  height: 80px;
  line-height: 35px;
  padding: 5px;
}
.aside .asideimg li .desc2 {
  overflow-x: none;
  position: absolute;
  color: blue;
  font-size: 25px;
  background-color: white;
  width: 230px;
  top: 60%;
  height: 80px;
  line-height: 27px;
  padding: 5px;
}
.aside .asideimg li .desc3 {
  overflow-x: none;
  position: absolute;
  color: blue;
  font-size: 23px;
  background-color: white;
  width: 230px;
  top: 60%;
  height: 80px;
  line-height: 50px;
  padding: 5px;
}

.asideimg2 {
  overflow-x: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  transform: translateY(30px);
  gap: 2rem;
}
.asideimg2 li {
  list-style: none;
}
.asideimg2 li img {
  width: 100%;
  height: 235px;
}
.asideimg2 .desc4 {
  overflow-x: none;
  position: absolute;
  color: blue;
  font-size: 24px;
  background-color: white;
  width: 230px;
  top: 74%;
  height: 80px;
  line-height: 35px;
  padding: 7px;
}
.asideimg2 .desc5 {
  overflow-x: none;
  position: absolute;
  color: blue;
  font-size: 23px;
  background-color: white;
  width: 230px;
  top: 72%;
  height: 80px;
  line-height: 35px;
  padding: 7px;
}
.asideimg2 .desc6 {
  overflow-x: none;
  position: absolute;
  color: blue;
  font-size: 24px;
  background-color: white;
  width: 230px;
  top: 75%;
  height: 80px;
  line-height: 35px;
  padding: 7px;
}

footer {
  border: 1px solid #000;
  height: 280px;
  background-color: rgba(2, 2, 115, 0.926);
  margin: 3px;
  position: relative;
}
footer ul.desc2 {
  display: none;
}
footer a {
  text-decoration: none;
  color: white;
}

ul.li {
  justify-content: flex-start;
  position: absolute;
  bottom: 70%;
  left: 10%;
  list-style: none;
}

p {
  cursor: pointer;
}

h5 {
  color: white;
}

ul.faq {
  display: flex;
  position: absolute;
  bottom: 80%;
  left: 10%;
  list-style: none;
  gap: 1rem;
}
ul.faq a {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 15px;
}

ul.han {
  position: absolute;
  list-style: none;
  color: white;
  bottom: 10%;
  right: 20%;
  top: 5%;
}

ul.img {
  list-style: none;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

ul.desc {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  right: 20%;
  bottom: 1%;
}
ul.desc li {
  list-style: none;
  font-style: italic;
}
ul.desc img {
  width: 50%;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  body {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    transform: translateX(-50px);
    padding: 0;
    width: 20%;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  ul.btn li img {
    width: 90%;
    transform: translateY(-10px);
  }
  .topgnb {
    display: none;
  }
  li.btn1, li.btn2, li.btn3 {
    display: none;
  }
  .bottomgnb {
    height: 130px;
  }
  .img2 img {
    width: 100%;
  }
  .aside {
    position: relative;
    background: none;
  }
  .aside ul.asideimg {
    transform: translate(-30px, -50px);
  }
  .aside ul.asideimg li img {
    width: 100%;
    height: 370px;
  }
  .aside ul.asideimg .desc1 {
    position: absolute;
    top: 23%;
    width: 70%;
    line-height: 50px;
  }
  .aside ul.asideimg .desc2 {
    position: absolute;
    top: 60%;
    width: 74%;
    height: 90px;
    line-height: 50px;
    font-size: 24px;
  }
  .aside ul.asideimg .desc3 {
    position: absolute;
    top: 93%;
    width: 75%;
    height: 60px;
  }
  .aside ul.asideimg2 {
    transform: translateY(-50px);
  }
  .aside ul.asideimg2 li img {
    width: 100%;
    height: 370px;
  }
  .aside ul.asideimg2 .desc4 {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 57px;
    line-height: 50px;
  }
  .aside ul.asideimg2 .desc5 {
    position: absolute;
    top: 60%;
    width: 75%;
    list-style: 50px;
    height: 60px;
  }
  .aside ul.asideimg2 .desc6 {
    position: absolute;
    top: 94%;
    width: 75%;
    line-height: 25px;
  }
  .aside h3 {
    transform: translateY(-20px);
  }
  footer {
    overflow-x: hidden;
    position: absolute;
    top: 165%;
    width: 96%;
    transform: translateY(1000px);
  }
  footer ul.faq {
    position: absolute;
    gap: 3rem;
    left: 25%;
    top: 10%;
  }
  footer ul.img {
    position: absolute;
    left: 40%;
    bottom: 30%;
  }
  footer ul.li {
    font-size: 12px;
    position: absolute;
    bottom: 45%;
    left: 2%;
  }
  footer ul.han {
    display: none;
  }
  footer ul.desc {
    position: absolute;
    font-size: 11px;
    bottom: 64%;
    right: 27%;
  }
  footer ul.desc li.gsk {
    position: absolute;
    top: 900%;
    left: 120%;
    width: 32%;
  }
  footer ul.desc2 {
    display: block;
  }
  footer ul.desc2 li {
    list-style: none;
    color: white;
    position: absolute;
    bottom: 25%;
    left: 40%;
    font-size: 12px;
    font-style: italic;
  }
}