h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

section {
  border: 1px solid #000;
  height: 300px;
}

header {
  border: 1px solid #000;
  line-height: 50px;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: auto;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header ul img {
  vertical-align: middle;
  cursor: pointer;
}
header ul img.gnb {
  display: none;
}
header ul li {
  outline: none;
  display: inline-block;
  border-radius: 5px;
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header ul li:hover {
  height: 40px;
  line-height: 40px;
  box-shadow: 5px 5px 5px 5px;
}
header ul li.develop {
  cursor: pointer;
  border: 1px solid #000;
  border-color: green;
  background-color: rgb(236, 255, 236);
  color: rgb(38, 245, 38);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
}
header ul li.thief {
  cursor: pointer;
  border: 1px solid #000;
  border-color: red;
  border-radius: 5px;
  color: brown;
  height: 40px;
  line-height: 40px;
}

#sect1 {
  border: 1px solid #000;
  height: 800px;
  position: relative;
  background-image: url("/0808/image/img_visual_01.png");
  background-position: center;
  background-size: cover;
}
#sect1 h1 {
  position: absolute;
  left: 10%;
  font-size: 40px;
  top: 30%;
}
#sect1 p {
  position: absolute;
  left: 10%;
  font-size: 15px;
  top: 50%;
}
#sect1 img.main {
  position: absolute;
  right: 5%;
  top: 10%;
}
#sect1 .box {
  border: 1px solid #000;
}

#sect2 {
  border: 1px solid #000;
  height: 900px;
  position: relative;
}
#sect2 h1 {
  position: absolute;
  left: 10%;
  top: 30%;
  font-size: 40px;
}
#sect2 .main2 {
  position: absolute;
  right: 1%;
  top: 15%;
  width: 40%;
}
#sect2 b {
  color: blue;
}
#sect2 p {
  position: absolute;
  left: 10%;
  top: 45%;
  font-size: 20px;
}

#sect3 {
  border: 1px solid #000;
  height: 1000px;
  background: url("/0808/image/main_banner_03.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
#sect3 h2 {
  position: absolute;
  left: 10%;
  top: 40%;
  font-size: 40px;
}
#sect3 p {
  position: absolute;
  left: 10%;
  top: 53%;
}
#sect3 p.mobile {
  font-weight: bold;
  left: 10%;
  top: 60%;
}
#sect3 img {
  position: absolute;
  right: 5%;
  width: 40%;
  top: 20%;
}

#sect4 {
  border: 1px solid #000;
  height: 930px;
  position: relative;
}
#sect4 .box {
  height: 250px;
  background-color: grey;
}
#sect4 .videoplay {
  width: 100%;
}

#sect5 {
  position: relative;
  height: 1010px;
}
#sect5 b {
  color: blue;
}
#sect5 h4 {
  position: absolute;
  left: 30%;
  top: 10%;
  text-align: center;
  font-size: 50px;
}
#sect5 p {
  position: absolute;
  font-size: 20px;
  font-weight: 540;
  left: 32%;
  top: 23%;
}
#sect5 img {
  position: absolute;
  top: 30%;
  width: 90%;
  left: 6%;
}

@media screen and (max-width: 598px) {
  header ul img.gnb {
    display: block;
  }
  ul > li > a {
    display: none;
  }
  #sect5 {
    display: none;
  }
}