* {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  overflow-x: hidden;
}

header {
  line-height: 50px;
  height: 100px;
  position: sticky;
  width: 100%;
  margin: auto;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header ul img {
  vertical-align: middle;
  cursor: pointer;
}
header ul img.gnb {
  display: none;
}
header ul li {
  outline: none;
  display: inline-block;
  border-radius: 5px;
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header ul li:hover {
  height: 40px;
  line-height: 40px;
  box-shadow: 5px 5px 5px 5px;
}
header ul li.develop {
  cursor: pointer;
  border: 1px solid #000;
  border-color: green;
  background-color: rgb(236, 255, 236);
  color: rgb(38, 245, 38);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
}
header ul li.thief {
  cursor: pointer;
  border: 1px solid #000;
  border-color: red;
  border-radius: 5px;
  color: brown;
  height: 40px;
  line-height: 40px;
}

@media screen and (max-width: 598px) {
  header ul img.gnb {
    display: block;
  }
  ul > li > a {
    display: none;
  }
  #sect5 {
    display: none;
  }
}