aside {
  background: rebeccapurple;
}

footer {
  background: blue;
}

main {
  background: red;
}

header {
  background: lightblue;
}
.remote {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.remote li {
  width: 22px;
  height: 22px;
}
.remote li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remote li a span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid transparent;
}
.remote li a.black span {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 3px solid #000;
}
.remote li a.white span {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 3px solid #fff;
}

section {
  height: 100vh;
}
section article {
  position: relative;
  width: 1000px;
  height: 660px;
  border: 1px solid #000;
  margin: auto;
  top: 137px;
}
section article figure {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #000;
  width: 520px;
  height: 650px;
}
section article .sprite {
  background-image: url(/0919/img-sprite-pc-20210406.png);
  background-size: 1538px 1302px;
  border: 1px solid #000;
}

h1, h2 {
  text-indent: -999999px;
  background-image: url(/0919/txt-sprite-pc-20210406.png);
  background-repeat: no-repeat;
  background-size: 838px 458px;
}

h1 {
  position: fixed;
  left: 50px;
  top: 50px;
  width: 110px;
  height: 28px;
}
h1.red {
  background-position: -641px -288px;
}
h1.white {
  background-position: -641px -258px;
}

#sect1 {
  background-color: #f1f1f1;
}
#sect1 h2 {
  width: 445px;
  height: 122px;
  background-position: 0 0;
}
#sect1 figure .sprite {
  position: absolute;
  width: 310px;
  height: 635px;
  left: 110px;
  background-position-x: -1033px;
}

#sect2 {
  background-color: #ffe054;
}
#sect2 h2 {
  width: 203px;
  height: 106px;
  background-position: -448px -123px;
}
#sect2 .sprite {
  background-position-y: -637px;
}

#sect3 {
  background-color: #ff4242;
}
#sect3 h2 {
  width: 192px;
  height: 107px;
  background-position: -448px -230px;
}
#sect3 .sprite {
  width: 456px;
  background-position-x: -586px;
}

#sect4 {
  background-color: #fff;
}
#sect4 h2 {
  width: 429px;
  height: 106px;
  background-position: 0 -352px;
}
#sect4 .sprite {
  height: 634px;
  background-position-x: 0 0px;
}

#sect5 h2 {
  width: 443px;
  height: 106px;
  background-position: 0 -244px;
  margin: auto;
}
#sect5 figure {
  width: 100%;
  position: static;
  display: flex;
}
#sect5 .col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sect5 .col.col1 .sprite {
  background-position-y: 0;
}
#sect5 .col.col2 .sprite {
  background-position-y: -226px;
}
#sect5 .col .sprite {
  width: 200px;
  height: 200px;
  background-position-x: -1340px;
}

#sect6 .inner {
  width: 1000px;
  border: 1px solid #000;
  margin: auto;
  height: 50vh;
  position: relative;
  text-align: center;
}
#sect6 h2 {
  display: none;
}
#sect6 .top {
  border: 1px solid #000;
}
#sect6 .top .circle {
  width: 297px;
  height: 297px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
}
#sect6 .top .col1.circle {
  left: 0;
  top: 0;
}
#sect6 .top .col1::after {
  position: absolute;
  content: "";
  border-width: 12px 0 12px 26px;
  border-style: solid;
  background-color: transparent;
  color: #fff;
  right: -10px;
  bottom: 72px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(28deg);
}
#sect6 .top .col2 {
  display: inline-block;
}
#sect6 .top .col3.circle {
  right: 0;
  top: 0;
}
#sect6 .bottom {
  height: 50vh;
  background: #f1f1f1;
}