@import url(/reset.css);


body{
  background-image: url('/1117/images/texture-new.png');
 
  margin: auto;
  
  height: 1000px;
  max-width: 1200px;
 


 
 
 
}
header{

 
  display: flex;
  height: 100px;
  justify-content: space-around;
 transform: translateY(30px);
  align-items: center;

  line-height: 30px;


  nav{
    display: flex;
    

   
    ul{
      
      
      display: flex;
   
     
        
     
     a{
      color: brown;
      font-weight: bold;
      margin: 30px;
      font-size: 20px;
     }
     li:hover a{
      color: brown;
      opacity: 0.8;
     }
      
     
      
      
    }
  }
  
}
main{
  
  height: 620px;

  margin: 50px;
  position: relative;
  
  .bread{
    
    width: 750px;
    height: 470px;
    margin: 10px;
    img{
      width: 100%;
    }
  }
  .offer{
  
    position: absolute;
   
    right: 0%;
    top:0%;
    width: 330px;
    height: 350px;
    background-color: #ffb;
   
    h2{
      margin: 20px;
      color:  #D49637;
      font-weight: 500;
    }
    b{
      line-height: 30px;
      margin: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    b:hover{
      color: #D49637;
    }
    p{
      margin: 20px;
      line-height: 3px;
    }
    .Menu{
      margin: 13px;
      background-color: #D49637;
      cursor: pointer;
      width: 150px;
      height: 40px;
      border: none;
      color: #fff;
      position: absolute;
      right: 43%;
      bottom:3%;
      font-weight: bold;
    }
    .Menu:hover{
      opacity: 0.8;
    }
    .coffe{
      position: absolute;
      right: 30%;
      bottom: 10%;
    }
    
  }
  .line{
   
    width: 750px;
    margin: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEBE0;
    cursor: pointer;
    p{
      margin: 10px;
      font-weight: bold;
      color: burlywood;
      font-size: 20px;
    }
    

    img{
      width: 7%;
      margin: 10px;
    }

  }
  .Latest{
    border: 1px solid #000;
    position: absolute;
  right: 0%;
  bottom: 0%;
  width: 330px;
  height: 270px;
  border-color:lightcoral;

  
  }
  p.p1{
    color: #D49637;
    font-weight: 500;
    margin: 25px;
    font-size: 20px;

  }
  b{
    margin: 20px;
  }
}

footer{
  h3{
  font-weight: 600;
  font-size: 15px;
  }
  b{
    position:absolute;
    bottom: 10%;
    left: 30%;
  }
  
  
 
  
  position: relative;
  
  span{
    position: absolute;
    bottom: 20%;
    left: 0%;
    border-top: 3px solid gray;
    width: 100%;
  }

 
 
  
  p:hover{
  
    text-decoration: underline;
    cursor: pointer;
  }
  p.p1{
    pointer-events: none;
  }
  position: relative;
  ul{
   
    position: absolute;
    right: 13%;
    display: flex;
    gap:5rem;
    margin: 30px;
    
    li{
      
      
      margin: 1px;
      address{
        line-height: 25px;
        font-size: 15px;
        
          
      }
     
      p{
        margin: 5px;
        font-size: 12px;
        font-style:italic;
       
       
      }
      
    }
   

   
  }

  margin: auto;
  height: 300px;
  background-color: #ffb;
  opacity: 0.65;
  position: relative;
  img{
    width: 10%;
    position: absolute;
    top: -10%;
    left: 10%;
  }
}





//------------------------------1024px//
@media screen and (max-width:601px) {
  
  body{
    margin: auto;
   max-width: 600px;
   overflow-x: hidden;
   
  
   
  }
  
  header{
    display: flex;
    
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: wrap;
   
  
   

  
    

    
    
  
    nav{
    
     
        
      left: 20%;
      position: relative;
      ul.wrap{
       display: flex;
    
      flex-wrap: wrap;
        width: 55%;
        height: 60px;
      
      
      
       
       
       
       
       
          
        
     
        
         
          

      
       
         
          
      li{
     
    
       

        display: inline-block;
 
      
    
          margin: auto;

    
        
        
       
       
        a{
          
      
         margin: auto;
    
          font-size: 15px;

         }
         
          
         
          
          
        }
       
        
       
        li:hover a{
          color: brown;
          opacity: 0.8;
         }
      }
       
      
    }
  }
  main{
  
   
   max-width: 1200px;
    left: 0%;
    height: 700px;
 
  
    position: relative;
    
    .bread{
      
     position: absolute;
   
      overflow-x: hidden;
      img{
        overflow-x: hidden;
        width: 40%;
      }
    }
    .offer{
      overflow-y: hidden;
      overflow-x: hidden;
      display: none;
      h2{
        font-size: 15px;
      }
   
      position: absolute;
     left: 1%;
     
     
      
      top:35%;
      width: 330px;
      height: 350px;
      background-color: #ffb;
     
      b{
       
    
      
        cursor: pointer;
      }
      b:hover{
        color: #D49637;
      }
      p{
        margin: 20px;
        line-height: 3px;
      }
      .Menu{
        margin: 13px;
        background-color: #D49637;
        cursor: pointer;
        width: 150px;
        height: 40px;
        border: none;
        color: #fff;
        position: absolute;
        right: 43%;
        bottom:3%;
        font-weight: bold;
      }
      .Menu:hover{
        opacity: 0.8;
      }
      .coffe{
        position: absolute;
        right: 30%;
        bottom: 10%;
      }
      
    }
    .line{
    
      width: 300px;
      transform: translate(0px,190px);
      height: 50px;
   
      align-items: center;
      justify-content: space-between;
      background-color: #EFEBE0;
      cursor: pointer;
      p{
   
        font-weight: bold;
        color: burlywood;
        font-size: 15px;
      }
      
  
      img{
        width: 7%;
       
      }
  
    }
    .Latest{
      overflow-y: hidden;
      display:block;
     
      position: absolute;
      left: 1%;
      bottom: -2%;
    width: 300px;
    height: 100px;
  
  
    
    }
    p.p1{
      color: #D49637;
      font-weight: 500;
     
      font-size: 15px;
  
    }
    
  }
  
  footer{
   overflow-x: hidden;
   overflow-y: hidden;
   position: relative;
    img.stamp{
      width: 13%;
     
      top: 60%;
   
      left: 80%;
     
    }
 
  
    li.touch{
      h4{
        color: blueviolet;
        font-size: 15px;
      }
    p{
      font-size: 15px;
      font-weight: bold;
    }
     padding: 10px;
      position: absolute;
      transform: translate(-300px,230px);
      font-size: 10px;
    }
    
    li.insta{
      h3{
        font-weight: bold;
        color: blue;
        font-size: 11px;
       
      }
      p{
        font-size: 15px;
        font-weight: bold;
      }
      padding: 35px;
      position: absolute;
      transform: translate(-330px,115px);
      font-weight: bold;
     
      h4{
        font-size: 11px;
        
      }
    }
    li.loca{
      h4{
        color: red;
        font-size: 15px;
      }
      font-size: 13px;
      font-weight: bold;
    padding: 35px;
      position: absolute;
      display: inline-block;
      transform: translateY(-30px);
      width: 500px;
      font-style: bold;
     
      right: -170px;
      font-size: 12px;
      address{
        font-size: 15px;   
        display: inline-block;
        width: 500px;
      }
    }

    overflow-x: hidden;

    
   width: 100%;
   height: 400px;
    right: 1%;
    position: relative;
    
   
    b{
     
      
   
      position: absolute;
      bottom: 5%;
      left: 10%;
      font-size: 11px;
      
      
     
    }
   
    span{
      
      
      position: absolute;
      bottom: 10%;
     

      border-top: 2px solid gray;
      width: 100%;
    }
  
   
   
    
    p:hover{
    
      text-decoration: underline;
      cursor: pointer;
    }
    p.p1{
      pointer-events: none;
    }
    position: relative;
    ul{
     
      position: absolute;
      right: 13%;
      display: flex;
      gap:5rem;
      margin: 30px;
      
      li{
        
        
        margin: 1px;
        address{
         font-size: 10px;
         
          
            
        }
       
        
        
      }
     
  
     
    }
   
   
    
  }
 
}
//------------------------------1024px//












@media screen and (min-width:1024px) {


}












