@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
@import url(/reset.css);
body {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1200px;
  margin: auto;
  height: 2000px;
}

header {
  align-items: center;
  justify-content: space-between;
  height: 100px;
  max-width: 1250px;
}

header nav ul {
  align-items: center;
  text-align: center;
  font-size: 20px;
}

main {
  height: 1600px;
  max-width: 1200px;
}

nav ul img {
  cursor: pointer;
}

.banner {
  text-align: center;
  line-height: 40px;
  margin: 20px;
  position: relative;
  font-size: 20px;
}

figure img {
  width: 50%;
}

.banner img {
  padding: 20px;
  margin-top: 50px;
  gap: 30px;
  cursor: pointer;
}

figcaption {
  text-align: center;
  margin-top: 50px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
}
figcaption p {
  font-weight: bold;
  font-size: 15px;
}

footer {
  background: rgba(0, 0, 0, 0.5019607843);
  display: flex;
  width: 1400px;
  max-width: 1300px;
  border: 1px solid #000;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  padding: 20px;
}

.inner ul {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.inner ul li a {
  font-weight: bold;
}

.inner p {
  font-weight: bold;
}

.inner li:hover a {
  color: aquamarine;
}

.inner p {
  text-align: center;
  cursor: pointer;
}

.inner p:hover {
  color: aqua;
}

.inner span {
  text-align: center;
}

@media screen and (max-width: 690px) {
  header nav ul {
    margin-top: 20px;
    line-height: 30px;
    font-size: 20px;
  }
  header nav ul li:hover a {
    color: aqua;
  }
  header h1 {
    justify-content: center;
    align-items: center;
    transform: translateX(180px);
  }
  img.gnb1, .gnb2, .gnb3 {
    margin-top: 10px;
  }
  .inner2 {
    margin-top: 200px;
  }
  .banner img {
    width: 35%;
    display: flex;
  }
  h4, h5 {
    text-align: left;
    transform: translateX(30%);
    margin-left: 10px;
    font-size: 14px;
    margin-top: -100px;
  }
  figcaption {
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
   text-align: center;
    font-weight: bold;
  }
  figcaption p {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 691px) {
  header nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 60px;
    gap: 1rem;
    font-size: 13px;
  }
  .banner h4, h5 {
    display: none;
  }
  nav ul li:hover {
    background: yellow;
    width: 100px;
    height: 60px;
    border-radius: 10px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 1250px;
    margin: 20px;
  }
  h4, h5 {
    text-align: left;
    transform: translateX(30%);
    font-size: 15px;
    margin-top: -100px;
  }
}
figure img {
  width: 60%;
}
figure figcaption {
  text-align: center;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
figure figcaption p {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

footer {
  display: none;
}

@media screen and (min-width: 1020px) {
  header nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 60px;
    gap: 2.5rem;
    font-size: 20px;
  }
  nav ul li:hover {
    background: yellow;
    width: 100px;
    height: 60px;
    border-radius: 10px;
  }
  .banner img {
    width: 24%;
    margin-top: 80px;
  }
  .banner h1 {
    margin-top: 50px;
  }
  figure {
    display: flex;
  }
  figure img {
    width: 20%;
  }
  .inner2 {
    margin: auto;
  }
  footer {
    display: block;
  }
  figcaption {
    font-size: 18px;
    line-height: 20px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 1250px;
    margin: 20px;
  }
}