section{
  border: 1px solid #000;
  height: 600px;
}
#sect1{
 background: url('/0913/images/이미지\ 텍스트\ 내용삽입.jpg');

 height: 1000px;
  li.img2{
    background: url('/0913/images/sprite.png');
   background-position: 886px;
    
    height: 120px;
    width: 300px;
    position: absolute;
    left: 0%;
    top: 3.5%;
  }
 
 
  color: white;
  ul.lnb{
    display: flex;
    height: 130px;
   
    justify-content: flex-end;
   color: white;
    align-items: center;
   gap:10rem;
    font-size: 25px;
    font-weight: bold;
    
    .submit{
      margin-right: -100px;
      background: url('/0913/images/sprite.png');
      background-position-x: -214px;
      background-position-y: -1054px;
    
    
      h3{
        transform: translateY(25px);
        font-size: 19px;
      }
    }
    .box{
      margin-right: -100px;
     
      background: url('/0913/images/sprite.png');
     background-position-x: 225px;
     background-position-y: 5px;
     
      h3{
        transform: translateY(25px);
        font-size: 19px;
      }
    }
    .search{
      
      width: 135px;
      height: 130px;
      background: url('/0913/images/sprite.png');
      background-color: blueviolet;
      background-position-x: 4710px;
      background-position-y: 585px;

      
    }
    h3{
      
      transform: translate(50px,60px);
      font-size: 18px;
    }
   
  }
 
 
  
 li{
  list-style: none;
  line-height: 80px;
  a{
    text-decoration: none;
    color: white;
 
  }
 }
}

footer{
  border: 1px solid #000;
  background-color: black;
  color: white;
  height: 250px;
  position: relative;
 h3{
  color: white;
 
  position: absolute;
  left: 20%;
 }
 h3:hover{
  text-decoration: underline;
  cursor: pointer;
 }
 span::after{
  position: absolute;
  transform: translateY(20px);
  content:"";
  border: 1px solid white;
  width: 60%;
  top: 20%;
  left: 20%;
 }
 address{
  position: absolute;
  top: 35%;
  left: 20%;
 }
 p{
  position: absolute;
  top: 40%;
  left: 20%;

 }
 h4{
  position: absolute;
  top: 50%;
  left: 20%;
 }
 h5{
  position: absolute;
  top: 60%;
  left: 20%;
 }
 .desc{
  position: absolute;
  top: 80%;
  left: 20%;
 }
 ul{
 position: absolute;
  list-style: none;

  top: 50%;
  left: 50%;
 }
}
@media screen and (max-width:600px) {
 #sect1{
  ul.lnb{
    gap:1rem;
    font-size: 10px;
    margin: auto;
    position: absolute;
    
    .box{
      background: none;
      position: absolute;
      top: 17%;
      right: 20%;
      cursor: pointer;
      h3{
        font-size: 10px;
      }
    }
    .submit{
      background:none;
      ;
      background: none;
      position: absolute;
      right: 1%;
      top: 17%;
      cursor: pointer;
      h3{
        font-size: 10px;
      }
    }
    .search{
      display: none;
    }
  }
  
  li.img2{
    display: none;
  }
 }
 footer{
  display: none;
 }
 section{
  width: 95%;
 }
}


@media screen and (min-width:1024px) {
  
}